*{
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

:root{
    font-size: 62.5%;
}

body{
    background: linear-gradient(288deg, #C2E9FB 0%, #A1C4FD 100%);
    
    font-size: 1.6rem;
    
    display: grid;
    place-items: center;
    height: 100vh;
}

.hide{
    display: none;
}

.screen1{
    text-align: center;
}

body, input, button{
    font-family: 'DM Sans', sans-serif;
}

button{
    background-color: #7879F1;
    border-radius: 0 .4rem .4rem 0;

    color: #ffffff;
    font-weight: bolder;
}

button:hover{
    background-color: #3636dc;
    transition: 1s;

}

main{
    background-color: #ffffff;
    width: min(42.8rem, 90%);

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: .6rem;

    padding: 4.8rem 6.4rem 6.4rem;
    margin-top: -12rem;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

form{
    display: flex;
    justify-content: center;
}

input, button{
    padding: 1.6rem;
    border: none;
}

input{
    width: 3rem;
    background-color: #DCE2E9;
    border-radius: .4rem 0 0 .4rem;

    color: #34355B;
}



/* SCRREN2*/

.screen2{
    text-align: center;
}

.screen2 h2{
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.6rem;

    margin-bottom: 3.3rem;
}

.screen2 button{
    border-radius: .4rem;
}